    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="active-menu" content="<%= menuId %>">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/img/BTC.png">
    <title>BTC | <%= page %></title>
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="/assets/js/morrisjs/morris.css" rel="stylesheet">
    <!--Toaster Popup message CSS -->
    <link href="/assets/js/toast-master/css/jquery.toast.css" rel="stylesheet">
  
    <!-- Dashboard 1 Page CSS -->
    <link href="/dist/css/pages/dashboard1.css" rel="stylesheet">
    <link href="/assets/js/footable/css/footable.bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/pages/footable-page.css" rel="stylesheet">
    <link href="/dist/css/pages/other-pages.css" rel="stylesheet">
      <!-- chartist CSS -->
    <link href="/assets/js/morrisjs/morris.css" rel="stylesheet">

    <link href="/dist/css/pages/ecommerce.css" rel="stylesheet">

    <link href="/assets/js/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/js/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/js/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="/assets/js/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/assets/js/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="/assets/js/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="/assets/js/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />

    <link href="/assets/js/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="/assets/js/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">

    <!-- Date picker plugins css -->
    <link href="/assets/js/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="/assets/js/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/assets/js/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">



    <link href="/dist/css/pages/icon-page.css" rel="stylesheet">
    <script src="/javascripts/config.js?v=1.0.0.0"></script>

    <!-- Custom CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/js/jsgrid/jsgrid.css">
    <link rel="stylesheet" href="/assets/js/jsgrid/jsgrid-theme.css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
